/Build
/install

/**/debug
/**/release

*.pro.user
Makefile
/**/Makefile
/**/Makefile.Debug
/**/Makefile.Release
/*.pro.user
/*.user
/CMakeFiles
/.cmake
/**/*.o
/**/*.qm
/**/qrc_qmake_qmake_qm_files.cpp
/**/moc_*.h
/**/moc_*.cpp
/**/ui_*.h
CMakeCache.txt.prev
